In [153]:
import numpy as np
import pandas as pd

data = {
    "날짜":["3/20","3/21","3/22","3/23","3/24"],
    "매출 편차": np.random.randn(5),
    "손님 평균 연령": np.random.randint(10,60,5)
    }

df = pd.DataFrame(data)
df

     날짜     매출 편차  손님 평균 연령
0  3/20  1.050438        23
1  3/21  0.676635        49
2  3/22  1.010156        15
3  3/23 -0.042617        37
4  3/24 -0.033871        20

In [206]:
df

     날짜     매출 편차  손님 평균 연령
0  3/20  1.050438      23.0
1  3/21  0.676635      49.0
2  3/22       NaN      15.0
3  3/23 -0.042617      37.0
4  3/24 -0.033871       NaN

In [154]:
# “매출 편차” column만 출력 (df[‘col’] 사용)
df["매출 편차"]

0    1.050438
1    0.676635
2    1.010156
3   -0.042617
4   -0.033871
Name: 매출 편차, dtype: float64

In [155]:
# “손님 평균 연령＂이 20살 이상인 행들만 출력
df[df["손님 평균 연령"] >= 20]

     날짜     매출 편차  손님 평균 연령
0  3/20  1.050438        23
1  3/21  0.676635        49
3  3/23 -0.042617        37
4  3/24 -0.033871        20

In [192]:
# 3/22의 매출 편차와 3/24의 손님 평균 연령을 결측치(NaN)로 값 변경 (np.nan사용)
df.loc[2, "매출 편차"] = np.nan
df.iloc[4, 2] = np.nan

In [193]:
# 결측치 위치 확인하기 (df.isnull() 사용)
df.isnull()

      날짜  매출 편차  손님 평균 연령
0  False  False     False
1  False  False     False
2  False   True     False
3  False  False     False
4  False  False      True

In [205]:
# 3/22의 매출 편차는 0으로 채우기 (df.fillna() 사용)
df["매출 편차"].fillna(0)

0    1.050438
1    0.676635
2    0.000000
3   -0.042617
4   -0.033871
Name: 매출 편차, dtype: float64

In [204]:
# 3/24의 손님 평균 연령은 나머지 손님 평균 연령값의 평균으로 채우기 (df.fillna() 사용)
df["손님 평균 연령"].fillna(df["손님 평균 연령"].mean())

0    23.0
1    49.0
2    15.0
3    37.0
4    31.0
Name: 손님 평균 연령, dtype: float64